<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title >
      Maklumat Pokok
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"
[style.--background]="scanActive?'#00000000':'#ffffff'">
  <form [formGroup]="mainForm" [hidden]="scanActive?'ishidden':''">
    Maklumat pokok sawit
    <ion-item>
      <ion-label position="floating">Nopokok</ion-label>
      <ion-input formControlName="nopokok" required value="{{qrpokok}}">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">bil tandan</ion-label>
      <ion-input formControlName="biltandan" required type="number">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Catatan</ion-label>
      <ion-textarea formControlName="catatan">
      </ion-textarea>
    </ion-item>
    <ion-button color="secondary" (click)="simpanPokok()">
      Simpan Banci </ion-button>
      <ion-button (click)="startScanner()"> 
        <ion-icon name="scan-outline"></ion-icon>
        &nbsp; No-pokok</ion-button>

        <ion-button (click)="preparedb()"> 
          Prepare DB</ion-button>
        <ion-button (click)="insertrecordsqlite()"> 
          Add pokok sqlite</ion-button>
        <ion-button [routerLink]="['/uploadmultirekod']"> 
          Upload multiple</ion-button>
        
  </form>
  

  <div class="scan-box" [hidden]="!scanActive"></div>

  <!-- Read -->
  <ion-item *ngFor="let pokok of crud.alldatapokok">
    <ion-label>
      <h2><strong>No pokok : {{ pokok.nopokok }}</strong></h2>
      <p>{{ pokok.catatan }}</p>
    </ion-label>

  </ion-item>

</ion-content>
